<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index Page</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<section id="users">
  {{#each users}}
    <a href="/{{id}}/gallery">{{name}}</a>
  {{/each}}
</section>
<section id="content">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur culpa deserunt, id ipsa ipsam modi,
  molestiae obcaecati omnis quia quis sapiente voluptates. Animi blanditiis, harum id ipsum quaerat quam!
</section>
</body>
</html>
