<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About</title>
</head>
<body>
<form method="post" action="/signup">
  <input type="text" name="name" placeholder="name" id="name">
  <input type="email" name="email" placeholder="email" id="email">
  <input type="password" name="password" placeholder="password" id="password">
  <button type="submit">Sign Up</button>
  {{#if method}}
    <section></section>
  {{else}}
  <section>
    {{#each message as |m|}}
      <div>{{ m }}</div>
    {{/each}}
  {{/if}}
</section>
</form>
</body>
</html>
